<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the homepage</h1>

    <form action="/analyze" method="get">
        Enter your text: <input type = 'text' name = "text">
        <div>
            <input type = "checkbox" name = removepuc > Remove Puncutation 
        <div>
        <button type = "submit">Analyze your text</button>
        </div>
    </form>
    
</body>
</html>


